*{
    background-color: #f1f1f1;
font-family: 'Roboto',sans-serif;
box-sizing: border-box;
margin:0;
padding: 0;
color:#555;
}

h1{
font-size: 72px;
padding: 10px 5px;
font-family: 'Open Sans', sans-serif;
}
h2{
font-size: 48px;
margin:20px 5px;
font-family: 'Open Sans', sans-serif;
}
h3{
    font-size: 32px;
padding:10px 5px;
font-family: 'Open Sans', sans-serif;
}
ul{
font-size: 16px;
padding:5px;
margin-left:50px;
}
h4{
font-size: 24px;
padding:5px 5px;
}
.painel{
    font-size: 48px;
margin:20px 5px;
font-family: 'Open Sans', sans-serif;
}
p{
    font-size: 18px;
}